body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

//Remove title from embedded notes//
.markdown-embed-title {
    display: none;
}

//Remove padding from embedded notes//
div.transclusion {
    padding: 0px !important;
}

//Remove left border from embedded note//
.markdown-embed, .internal-embed:not(.image-embed) {
    border: none;
}

div.callout[data-callout="info"] div.callout-title:has(div.callout-title-inner:contains("Statblock")) {
    display: none;
}

.callout:has(pre.language-encounter-table) {
    display: none;
}
